# IDE files
.idea/
*.iml
.idea/misc.xml

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment files
.env
.env.local

# Build files
*.apk
*.aab
*.aar
*.ap_
*.dex

.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
backend/venv/
